.saved-card{
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  flex-wrap: wrap;
  text-align: center;
  margin: 1vh auto;
  background-color: rgba(255, 255, 255, 0.664);
  position: relative;
}
.remove{
  border-style: none;
  border: solid 1px black;
  box-shadow: black 2px 2px 6px;
  /* width: 4vw; */
  height: 3vh;
  background-color: rgba(1, 67, 125, 0.363);
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
}
.remove:active{
  width: 5em;
  height: 2em;
}
.notes{
  border: solid 1px black;
  /* width: 20vw;
  height: 10vh; */
  text-align: left;
  margin-bottom: 2vh;
}
.l-date{
  margin-bottom: 2vh;
}
.mission-name{
  margin-top: 2vh;
}
.update{
  border-style: none;
  border: solid 1px black;
  box-shadow: black 2px 2px 6px;
  /* width: 4vw; */
  height: 3vh;
  background-color: rgba(1, 67, 125, 0.363);
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
}
.update:active{
  width: 5em;
  height: 2em;
}