.nav-container{
  background-color: rgba(0, 0, 0, 0.822);
  display: flex;
  justify-content: space-evenly;
  height: 5vh;
  width: 100vw;
  align-items: center;
  margin: 0 auto;
}
.nav-links{
  color: silver;
  font-size: 1em;
  font-weight: bolder;
}
ul{
  
}
li:hover{
  display: flex;
  height: 100%;
  background-color: white;
  color: black;
  justify-content: center;
  align-items: center;
  padding: 0 1vh;
}